@font-face {
    font-family: 'Segoe-UI-bold';
    src:  url('../assets/fonts/Segoe-UI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
@font-face {
    font-family: 'Segoe-UI-Semibolt';
    src:  url('../assets/fonts/Segoe-UI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}
@font-face {
    font-family: 'Segoe-UI';
    src:  url('../assets/fonts/Segoe-UI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
@font-face {
    font-family: 'MYRIADPRO-SEMIBOLD';
    src:  url('../assets/fonts/MYRIADPRO-SEMIBOLD.OTF') format('truetype');
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}
@font-face {
    font-family: 'Inter_18pt-Regular';
    src:  url('../assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
@font-face {
    font-family: 'Inter_18pt-Light';
    src:  url('../assets/fonts/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}


:root {
    --gradient1: linear-gradient(90deg, #29CA9C 0%, #1498CA 100%);
    --border-width: 3px;
    --green1: #29CA9C;
    --green2: #013638;
    --white: #ffffff;
    --hellblau: #E6EBEC;
    --coral: #ED4E52;
    --background-footer: var(--green2);
    --text-color-dark: var(--green2);
    --border: var(--gradient1);
    --button: var(--green1);
    --text-white: var(--white);
    --icon-hover: var(--white);
    --input-sacsful: var(--gradient1);
    --input-enter: var(--hellblau);
    --input-invalid: var(--coral);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

.button_border {
    padding: 6px 20px;
    background-color: transparent;
    color: var(--text-white);
    border: none;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
}

.button_border:hover {
    background-color: #FFFFFF33;
    color: var(--text-white);
    border: none;
}

.button_border:active {
    position: relative;
}

.button_border:active::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 4px;
    background: var(--gradient1);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.button {
    background-color: #29CA9C;
    border: none;
    color: white;
    padding: 8px 30px 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px; 
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #29CA9C;

  }

  .button:active {
    background: linear-gradient(to right , #29CA9C, #1498CA);
  }

  .button_disable {
    background-color: #29CA9C80;
    border: none;
    color: white;
    padding: 8px 30px 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px; 
    transition: background-color 0.3s;
  }



