@font-face {
    font-family: 'Segoe-UI-Bold';
    src: url('../assets/fonts/Segoe-UI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
@font-face {
    font-family: 'Segoe-UI This Bold';
    src: url('../assets/fonts/Segoe\ UI\ This\ Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Segoe-UI-Semibold';
    src: url('../assets/fonts/Segoe-UI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Segoe-UI';
    src: url('../assets/fonts/Segoe-UI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'MYRIADPRO-SEMIBOLD';
    src: url('../assets/fonts/MYRIADPRO-SEMIBOLD.OTF') format('truetype');
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter_18pt-Regular';
    src: url('../assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@font-face {
    font-family: 'Inter_18pt-Light';
    src: url('../assets/fonts/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

:root {
    --gradient1: linear-gradient(90deg, #29CA9C 0%, #1498CA 100%);
    --border-width: 3px;
    --green1: #29CA9C;
    --green2: #013638;
    --black: black;
    --white: #ffffff;
    --hellblau: #E6EBEC;
    --coral: #ED4E52;
    --hover: #FFFFFF33;
    --background-footer: var(--green2);
    --text-color-dark: var(--green2);
    --border: var(--gradient1);
    --button: var(--green1);
    --text-white: var(--white);
    --icon-hover: var(--white);
    --input-sacsful: var(--gradient1);
    --input-enter: var(--hellblau);
    --input-invalid: var(--coral);
    --font1-700: 'Segoe-UI-Bold';
    --font1-600: 'Segoe-UI-Semibold';
    --font1-400: 'Segoe-UI';
    --font2-600: 'MYRIADPRO-SEMIBOLD';
    --font3-400: 'Inter_18pt-Regular';
    --font3-300: 'Inter_18pt-Light';
    --font4-700: "Segoe-UI This Bold";
    --font-footer-contacts-title: var(--font3-400);
    --font-footer-contacts-content: var(--font1-600);
    --gradient2: linear-gradient(180deg, #29CA9C 0%, #1498CA 100%);
    --about-Us-Title-Font: var(--font1-700);
    --about-Us-Content-Font: var(--font3-400);
    --about-Us-Font-Number: var(--font1-400);
    --font-button: var(--font3-400);
    --font-header-nav-item: var(--font3-400);
    --font-header-logo: var(--font2-600);
    --font-header-h1: var(--font1-600);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
}

.button_border {
    padding: 6px 20px;
    background-color: transparent;
    color: var(--text-white);
    border: none;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
}

.button_border:hover {
    background-color: var(--hover);
    color: var(--text-white);
    border: none;
}

.button_border:active {
    position: relative;
}

.button_border:active::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 4px;
    background: var(--gradient1);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.button {
    background-color: #29CA9C;
    border: none;
    color: white;
    padding: 8px 30px 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #29CA9C;

}
.button:active {
    background: linear-gradient(to right, #29CA9C, #1498CA);
}
.button_disable {
    background-color: #29CA9C80;
    border: none;
    color: white;
    padding: 8px 30px 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.intro {
    background: linear-gradient(270.11deg, rgba(102, 102, 102, 0) -13.55%, #000000 107.12%), url(../images/large_bg.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
}
.newsIntro {
    background: linear-gradient(270.11deg, rgba(102, 102, 102, 0) -13.55%, #000000 107.12%), url(../images/bg_page2.webp) !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100% !important;
    min-height: 80px !important;
}

.navbar-toggler {
    border: none;
    background-color: transparent !important;
    padding: 0.25rem 0.75rem;
    margin: 7px 28px 0 31px;
}

.navbar {
    transition: all 0.5s;
}
.navbar-scrolled {
    background-color: var(--green2);
 }
.headerLogoText {
    font-family: var(--font-header-logo);
    font-size: 15px;
    color: var(--text-white); 
    text-align: left;
    margin: 25px 0 0 10px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: none !important;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.navbarTogglerIcon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--white);
}
.headerLine {
    margin: 5px 0;
    width: 1.5rem;
    height: .2em;
    background-color: var(--white);
}
.headerLogo {
    width: 52px;
    margin: 20px 0 0 0;
}
.nav-link {
    display: inline-block !important;
}
.navbar-nav .nav-link {
    font-family: var(--font-header-nav-item);
    font-size: 24px;
}
.navbar-nav .nav-item {
    color: var(--white);
}
.navbar-nav .nav-item :hover {
    background: var(--hover);
} 
.headerTitle .primary {
    font-family: var(--font1-600);
    font-size: clamp(1.5rem, 4vm, 3rem);
}
.navbar-nav .nav-link.active {
    color: var(--text-white) !important;
    position: relative;
    display: inline-block;
    padding: 8px 16px;
}
.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -4px;
    right: -4px;
    bottom: 0px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: var(--gradient1);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
@media (max-width: 768px) {
    #header {
        background: url(../images/smile_bg.webp);
        background-size: cover;
        background-position: center;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        border: none !important;
    }

    .headerTitle .primary {
        background-color: var(--green2);
    }

    .navbarTogglerIcon span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--green2);
    }
    .newsNavbarTogglerIcon span {
        background-color: var(--white);
    }
    .nav-link {
        display: inline-block;
    }

    .headerLogoText {
        color: var(--text-color-dark);
    }

}
/* ---------header end------------------------------------------------------------------- */

/* ---------description start------------------------------------------------------------------- */
.descriptionTitle {
    font-family: var(--font4-700);
    color: var(--green2);
    font-size: 36px;
}
.descriptionLine {
    width: 100%;
    border-top: 3px solid var(--green2);
    margin: 5px 0 40px 0;
}
.descriptionText {
    font-family: var(--font3-300);
    font-size: 24px;
    margin: 5px 0 40px 0;
}
.descriptionImages {
    width: 100%;
    height: auto;
    margin: 5px 0 40px 0;
}
/* ---------description end------------------------------------------------------------------- */

/* =============================== about us section start ======================== */

.aboutUsTitleFont {
    font-family: var(--about-Us-Title-Font);
    font-size: 36px;
}

.aboutUsContentFont {
    font-family: var(--about-Us-Content-Font);
    font-size: 24px;
}

.aboutUsUnderline {
    border-bottom: 2px solid #29CA9C;
    padding-bottom: 5px;
}

.aboutUsFontNumber {
    font-family: var(--about-Us-Font-Number);
    background: var(--gradient2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

.aboutUsButtonFont {
    font-family: var(--about-Us-Content-Font);
    font-size: 20px;
}

/* =============================== about us section end ======================== */

/* ---------news start------------------------------------------------------------------- */ 
.newsCard {
    border-radius: 0;
    overflow: hidden;
    background: #fff;
}
.newsImages {
    width: 100%;
    height: auto;
}
.newsSubImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}
.newsTitle { 
   font-family: var(--font4-700);
   font-size: 36px;
   color: var(--green2);
   margin: 0;
}
.newsTitle.newsTitleNew { 
   font-family: var(--font4-700);
   font-size: 36px;
   color: var(--green2);
   margin: 0;
}
.newsAlt {
    font-family: var(--font4-700);
    font-size: 28px;
    color: var(--green2);
    margin: 0;
}
.newsButton {
    padding: 8px 45px;
}
.newsLine {
    width: 100%;
    border-top: 3px solid var(--green1);
    margin: 5px 0 40px 0;
}
/* ------------news end------------------------------------------------------------------- */

/* =============================== Footer ======================== */
.footer {
    background-color: var(--background-footer);
    color: var(--text-white);
    font-size: 24px;
}

.footerColorTextElement {
    color: var(--text-white);
}

.footerTextElementP {
    font-family: var(--font-footer-contacts-title);
}

.footerConteinerRightFont {
    font-size: 28px;
    font-family: var(--font-footer-contacts-content);
    padding-top: 11px;
}

.icon-container {
    width: 60px;
    height: 60px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.icon-container:hover {
    background-color: #FFFFFF33;
}

.icon-container:active {
    background-color: unset;
}

.icon {
    font-size: 28px;
    transition: color 0.3s ease;
}
/* =============================== Footer end ======================== */
    /* -------contact start----------------------------------------------- */
    .contactBurger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--white);
    }
    /* -------contact end----------------------------------------------- */

@media (max-width: 768px) {
    /* -------header start----------------------------------------------- */
    #header {
        background: url(../images/smile_bg.webp);
        background-size: cover;
        background-position: center;
    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-toggler {
        border: none !important;    
    }
    .headerTitle .primary {
        font-size: 24px;
        background-color: var(--green2);
    }
    .newsHeaderTitle .primary {
        font-size: 24px;
    }
    .navbar-toggler-icon span {
        display: block;
        width: 32px;
        height: 3px;
       background-color: var(--black);
    } 
    .headerLine {
        color: var(--black);
    } 
    .newsHeaderLine {
        color: var(--white);
    }  
    .nav-link {
        display: inline-block;
    }
    .headerLogoText {
        color: black;
    }
    .newsHeaderLogoText {
        color: var(--text-white);
    }
    /* --------------header end--------------------------------------------------------- */
    /* --------------news start--------------------------------------------------------- */
    .newsTitle {
        font-size: 24px;
    }
    .newsAlt {
        font-size: 18px;
    }
    /* --------------news end--------------------------------------------------------- */ 
}
@media (max-width: 520px) {
     /* -------header start----------------------------------------------- */
    .headerTitle .primary {
        font-size: 18px;
    }
    .newsHeaderTitle .primary {
        font-size: 18px;
    }
     /* --------------header end--------------------------------------------------------- */
}



